<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data.title }}</title>
    <link rel="stylesheet" href="{{ url_for('public', path='/style.css') }}" />
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ratione
      autem asperiores ipsa tempore eligendi, voluptas libero omnis tempora
      repellendus est temporibus quo officia quas veritatis eveniet vero
      perspiciatis quod.
    </p>
  </body>
</html>
